<?xml version="1.0"?>

<model>
  <name>M8 screw model </name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Florian Lange</name>
    <email>no-author@mail.com</email>
  </author>

  <description>
    A screw model according to DIN EN ISO 4762 Size:M8
  </description>
</model>